<div style="background-color: #ffffff; padding: 10px">
  <nz-descriptions nzTitle="User Info">
    <nz-descriptions-item nzTitle="UserName">{{
      user.userName
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="firstName">{{
      user.firstName
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="lastName">{{
      user.lastName
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="email">{{
      user.email
    }}</nz-descriptions-item>
  </nz-descriptions>
</div>
