<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>Client</th>
      <th>User name</th>
      <th>Email</th>
      <th *[ngIf]="role !== 'ADMIN'">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.firstName + (data.lastName ? data.lastName : "") }} {{role}}</td>
      <td>{{ data.userName }}</td>
      <td>{{ data.email }}</td>
      <td *[ngIf]="role !== 'ADMIN'">
        <nz-divider nzType="vertical"></nz-divider>
        <button
          nz-button
          nzType="primary"
          (click)="edit(data.id)"
        >
          Edit
        </button>
        <button
          nz-button
          nzType="primary"
          nzDanger
          (click)="delete(data.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
